
    use.frequentAtom {
        color: var(--FrequentColor)
    }
    use.quasirareAtom {
        color: var(--QuasiRareColor)
    }
    use.rareAtom {
        color: var(--RareColor)
    }
    use {
        color: var(--NormalColor)
    }