.svgViewer {
    //width: 100%;
    transform: scale(1, 1);
    height:3%;
    --blue: white;
    --NormalColor: white;
    --FrequentColor: white;
    --QuasiRareColor: var(--blue);
    --RareColor: var(--blue);

    --LineMirrorVerOpacity: 1;
    --LineMirrorHorOpacity: 1;
    --LineNormalOpacity: 1;
    --LineMirrorBothOpacity: 1;
}