.svgViewer {
    //width: 100%;
    transform: scale(1, 1);
    height:3%;
    --NormalColor: rgb(255, 255, 255);
    --HoverColor: var(--gold);
    --FrequentColor: var(--blue);
    --QuasiRareColor: var(--blue);
    --RareColor: var(--blue);
}