image {
  width: 100%;
  height: 100%;
}
#root, html, body {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
svg, symbol {
  overflow: visible !important;
}
filter {
  color-interpolation-filters: sRGB;
}
:root {
  --blue: hsl(195.6deg, 100%, 50%);
  --blue2: hsl(225.6deg, 100%, 50%);
  --gold: hsl(45.6deg, 100%, 50%);
  --gold2: hsl(15.6deg, 100%, 50%);
}